
{{#content-block title=model.title class="position-relative"}}
    {{#prettify-content}}
        {{{render-type model.content model.type}}}
    {{/prettify-content}}
    <div class="position-absolute flex-all-center" local-class="opts">
        {{#link-to "edit" model}}
            <i class="iconfont icon-edit pointer"></i>
        {{/link-to}}
    </div>
{{/content-block}}
