@import "bootstrap";

.w200 {
  width: 200px;
}

.w250 {
  width: 250px;
}

.h550{
  height: 550px;
}

.h600{
  height: 600px;
}

.minh600{
  min-height: 600px !important;
}

.minh550{
  min-height: 550px !important;
}

.color-white{
  color: #fff;
}

.pb-20px{
  padding-bottom: 20px;
}

.p-20px{
  padding: 20px;
}

.m-20px{
  margin: 20px;
}

.pointer{
  cursor: pointer;
}

.flex-all-center{
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
}
