{{link-to "首页" "index" (query-params category="") local-class="indexBar" class="flex-all-center"}}
<span local-class="toggleSidebar" {{action "toggle"}}>
  <i class="iconfont icon-zuoyoujiantou"></i>
</span>
{{yield}} {{author-info}}