{{!-- The following component displays Ember's default welcome message. --}}
{{!-- {{welcome-page}} --}}
{{!-- Feel free to remove this! --}}


<div class="container-fluid">
  <div class="col-sm-10"></div>
  <div class="col-sm-2"></div>
</div>

{{outlet}}