<form action="/api/submit" method="get">
  <ul>
    <li>
      <label for="">
        用户名:
        <input type="text" name="name">
      </label>
    </li>
    <li>
      <label for="">
        密码:
        <input type="text" name="pwd">
      </label>
    </li>
    <li>
      <label for="">
        年龄:
        <input type="text" name="age">
      </label>
    </li>
  </ul>
  <button type="submit">submit</button>
</form>