<div id="app-main" class="container-fluid">
    <div class="row">
    <div class="col col-sm-10"></div>
    <div class="col col-sm-2">
        <span class="{{local-class 'me' from='app-ember/styles/app'}}" local-class="red ">
            zhangjianjun
        </span>
    </div>
    </div>
</div>

{{outlet}}
