
<div class="p-20px clearfix">
  <div class="clearfix">
    <button class="btn btn-primary float-right" {{action "addTopNode"}}>
      添加新顶级节点
    </button>
  </div>
  
  {{category-tree hasPermission=loginService.isLoggedIn class="pt-20px"}} {{!-- {{switch-btn fontSize=12}} {{switch-btnx}} --}}

</div>
