  <div local-class="me">
    <img src="images/author-info/me.jpg" local-class="avatar" alt="作者">
    <div local-class="me-info">
      <form class="form-horizontal mt30">
        <div class="form-group row d-flex align-items-center" local-class="group">
          <label class="float-left col-form-label d-inline-block w-25">Name</label>
          <div class="w-75">
            <input class="form-control-plaintext color-white pb-0" readonly value="Chosan">
          </div>
        </div>
        <div class="form-group row d-flex align-items-center" local-class="group">
          <label class="col-form-label d-inline-block w-25">Email</label>
          <div class="w-75">
            <input class="form-control-plaintext color-white pb-0" readonly value="179817004@qq.com">
          </div>
        </div>
         <div class="form-group row d-flex align-items-center" local-class="group">
          <label class="col-form-label d-inline-block w-25">Github</label>
          <div class="inline-block color-white text-truncate w-75">
            <a class="" href="//github.com/Cinux-Chosan" target="_blank">github.com/Cinux-Chosan</a>
          </div>
        </div>
      </form>
    </div>
  </div>