<div local-class="btnContainer">
  <span style="font-size:{{fontSize}}px">
    on
  </span>
  <span style="font-size:{{fontSize}}px"> </span>
  <span style="font-size:{{fontSize}}px">
    off
  </span>
</div>

