.root {
  line-height: 32px;
  .treeItem {
    padding-left: 20px;
    position: relative;
    &::before,
    &::after {
      content: '';
      height: 16px;
      position: absolute;
      border-left: 1px solid #e7e7eb;
      left: 10px;
    }
    &::before {
      border-bottom: 1px solid #e7e7eb;
      width: 8px;
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    &.expanded::after {
      height: 100%;
    }
    &[data-depth="1"] {
      &::before,
      &::after {
        content: none;
      }
    }
  }
  &:last-child {
    .treeItem {
      &::after {
        content: none;
      }
    }
  }
}

.operations {
  list-style-type: none;
  i {
    cursor: pointer;
    &:hover {
      color: #007bff;
    }
  }
}

.edit {
  @include icon('\e6d6');
}

.del {
  @include icon('\e66e');
}

.add {
  @include icon('\e627');
}

.noPermission {
  .edit,
  .del,
  .add {
    display: none;
  }
}

.switchBtn{
  // opacity: .1;
  &:hover{
    opacity: 1 !important;
  }
  &.switchBtnClosed{
    opacity: .1;
  }
}
